<div class="container mx-auto px-4 py-8">
  <h1 class="font-bold text-4xl flex justify-center mb-4">登録薬詳細</h1>

  <div class="user-medicine-card bg-white shadow-md rounded-lg p-6 mb-4">
    <h2 class="text-2xl font-bold mb-4"><%= @medicine.name %></h2>

    <dl class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <dt class="font-semibold text-gray-700">1回の服用量</dt>
        <dd class="text-gray-900 mt-1"><%= @medicine.dosage_per_time %>錠</dd>
      </div>
    </dl>
  </div>

  <%= link_to "編集", edit_medicine_path(@medicine), class: "btn btn btn-success
        w-full" %>
  <div class="flex justify-center mt-4">
    <%= link_to "登録薬一覧", "#", class: "btn bg-white text-[#E56A54] border
            border-[#E56A54] hover:bg-[#FFE4DF] max-w-xs mb-8" %>
  </div>
  <div class="actions text-center">
    <%= link_to "削除", "#", data: { turbo_method: :delete, turbo_confirm: "「#{@medicine.name}」を削除してもよろしいですか?\n在庫データも削除されます。" }, class: "btn btn-sm btn-error" %>
  </div>
</div>
