<div class="min-h-screen flex items-center justify-center bg-base-100">
  <div class="card w-11/12 max-w-sm bg-base-200 shadow-lg rounded-xl p-6">
    <h2 class="text-center text-2xl font-bold text-primary mb-6">ユーザー設定</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <br>

      <div class="form-control mb-4">
        <%= f.label :name, "名前", class: "label-text mb-1" %>
        <%= f.text_field :name, class: "input input-bordered bg-white" %>
      </div>

      <div class="form-control mb-4">
        <%= f.label :email, "メールアドレス", class: "label-text mb-1" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered bg-white" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
       <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-control mb-4">
        <%= f.label :password, class: "label-text mb-1" %>
        <% if @minimum_password_length %>
          <span class="text-xs mb-1">(<%= @minimum_password_length %> 文字以上)</span>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "input input-bordered bg-white" %>
      </div>

      <div class="form-control mb-4">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-bordered bg-white" %>
      </div>

      <div class="form-control mb-4">
        <%= f.label :current_password, "本人確認のため、現在のパスワードを入力してください。" %>
        <p>現在のパスワード</p>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "input input-bordered bg-white" %>
      </div>

      <div class="flex gap-4 mt-5">
        <%= f.submit "変更する", class: "btn btn-secondary flex-1" %>
        <%= link_to "戻る", home_path, class: "btn btn-neutral flex-1" %>
      </div>
      <div class="text-center gap-4 mt-10">
        <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当にアカウントを削除しますか？", turbo_confirm: "本当にアカウントを削除しますか？" }, method: :delete, class: "btn btn-error text-black" %>
      </div>
    <% end %>
    <br>
  </div>
</div>


