<div class="account-section max-w-2xl mx-auto mb-8">
  <h1 class="text-3xl mb-4 mt-6 flex items-center justify-center gap-2" style="font-family: 'M PLUS Rounded 1c', sans-serif; font-weight: 500;">
    <span>アカウント設定</span>
  </h1>
  <div class="bg-base-200 rounded-lg shadow p-6">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <!-- メールアドレス -->
      <div class="mb-4">
        <%= f.label :email, class: "label-text mb-1 block" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: form_field_class(resource, :email) %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="mb-4">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <!-- パスワード -->
      <div class="mb-4">
        <div class="mb-1">
          <%= f.label :password, class: "label-text" %>
          <% if @minimum_password_length %>
            <span class="text-xs ml-1">(<%= @minimum_password_length %> 文字以上)</span>
          <% end %>
        </div>
        <%= f.password_field :password, autocomplete: "new-password", class: form_field_class(resource, :password) %>
      </div>

      <!-- パスワード確認 -->
      <div class="mb-4">
        <%= f.label :password_confirmation, class: "label-text mb-1 block" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: form_field_class(resource, :password_confirmation) %>
      </div>

      <!-- 現在のパスワード -->
      <div class="mb-4">
        <p class="text-sm mb-2">本人確認のため、現在のパスワードを入力してください。</p>
        <%= f.label :current_password, class: "label-text mb-1 block" %>
        <%= f.password_field :current_password, autocomplete: "current-password", class: form_field_class(resource, :current_password) %>
      </div>

      <div class="actions text-center mt-5">
        <%= f.submit "変更する", class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>

  <div class="text-center">
    <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete, confirm: t(".logout_confirmation"), turbo_confirm: t(".logout_confirmation") }, class: "btn bg-white text-[#E56A54] border border-[#E56A54] hover:bg-[#FFE4DF] w-full max-w-xs mt-10" %>
  </div>

  <div class="text-center">
    <%= link_to "アカウント削除", registration_path(resource_name), data: { turbo_method: :delete, confirm: t(".cancel_confirmation"), turbo_confirm: t(".cancel_confirmation") }, class: "btn btn-error text-black mt-8 mb-8" %>
  </div>
</div>
