<div class="flex items-center justify-center bg-base-100">
  <div class="card w-11/12 max-w-sm bg-base-200 shadow-lg rounded-xl p-6">
    <h2 class="text-center text-2xl font-bold text-primary mb-6">新規登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="form-control mb-4">
        <%= f.label :name, class: "label-text mb-1" %>
        <%= f.text_field :name, class: "input input-bordered bg-white" %>
        <% if resource.errors[:name].any? %>
          <% resource.errors[:name]&.each do |message| %>
            <p class="text-red-600 text-xs mt-1 ml-1"><%= t('.name') %><%= message %></p>
          <% end %>
        <% end %>
      </div>

      <div class="form-control mb-4">
        <%= f.label :email, class: "label-text mb-1" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered bg-white" %>
        <% if resource.errors[:email].any? %>
          <% resource.errors[:email]&.each do |message| %>
            <p class="text-red-600 text-xs mt-1 ml-1"><%= t('.email') %><%= message %></p>
          <% end %>
        <% end %>
      </div>

      <div class="form-control mb-4">
        <%= f.label :password, class: "label-text mb-1" %>
        <% if @minimum_password_length %>
          <span class="text-xs mb-1">(<%= @minimum_password_length %> 文字以上)</span>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "input input-bordered bg-white" %>
        <% if resource.errors[:password].any? %>
          <% resource.errors[:password]&.each do |message| %>
            <p class="text-red-600 text-xs mt-1 ml-1"><%= t('.password') %><%= message %></p>
          <% end %>
        <% end %>
      </div>

      <div class="form-control mb-6">
        <%= f.label :password_confirmation, class: "label-text mb-1" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-bordered bg-white" %>
        <% if resource.errors[:password_confirmation].any? %>
          <% resource.errors[:password_confirmation]&.each do |message| %>
            <p class="text-red-600 text-xs mt-1 ml-1"><%= t('.password_confirmation') %><%= message %></p>
          <% end %>
        <% end %>
      </div>

      <%= f.submit "登録する", class: "btn btn-primary w-full mb-6" %>
    <% end %>


    <div class="flex items-center gap-4 opacity-70 mb-6">
      <div class="flex-1 h-px bg-base-300"></div>
      <span class="text-xs">または</span>
      <div class="flex-1 h-px bg-base-300"></div>
    </div>

    <%= button_to user_google_oauth2_omniauth_authorize_path,
                method: :post,
                data: { turbo: false },
                class: "btn w-full bg-white text-center text-black border-[#e5e5e5] mb-6" do %>
      <svg aria-label="Google logo" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <g>
          <path d="m0 0H512V512H0" fill="#fff"></path>
          <path fill="#34a853" d="M153 292c30 82 118 95 171 60h62v48A192 192 0 0190 341"></path>
          <path fill="#4285f4" d="m386 400a140 175 0 0053-179H260v74h102q-7 37-38 57"></path>
          <path fill="#fbbc02" d="m90 341a208 200 0 010-171l63 49q-12 37 0 73"></path>
          <path fill="#ea4335" d="m153 219c22-69 116-109 179-50l55-54c-78-75-230-72-297 55"></path>
        </g>
      </svg>
      Googleログイン
    <% end %>

    <p class="text-center text-xs text-base-content/70">
        すでにアカウントをお持ちですか？
        <%= link_to "ログイン", new_user_session_path, class: "link link-primary" %>
      </p>

  </div>
</div>
