<div class="drawer-side">
  <label for="drawer-menu" class="drawer-overlay"></label>
  <ul class="menu p-4 w-80 bg-base-100">
    <li><%= link_to "ログイン", new_user_session_path %></li>
    <li><%= link_to "新規登録", new_user_registration_path %></li>
    <li class="border-t border-base-500 my-4"></li>
    <!-- 規約・お問合せ -->
    <li><%= link_to "使い方", "_path" %></li>
    <li><%= link_to "利用規約", terms_of_service_path %></li>
    <li><%= link_to "プライバシーポリシー", privacy_path %></li>
    <li><%= link_to "お問合せ", "contact_path" %></li>
  </ul>
</div>
