<!-- 服薬中の薬一覧 -->
<div class="-mx-4 md:mx-0">
  <div class="container mx-auto px-4">
    <%= render "medicines_list", medicines_with_stock: @medicines_with_stock %>
  </div>
  <!-- カレンダー表示 -->
  <div class="container mx-auto mb-10">
    <%= render "calendar", medicines_with_stock: @medicines_with_stock, consultation_schedules_by_date: @consultation_schedules_by_date %>
  </div>


  <div class="max-w-4xl mx-auto px-4 mb-20">

  <!-- メイン -->
  <div class="actions text-center">
    <%=link_to user_medicines_path, class: "btn btn-primary items-center justify-center gap-2 py-3 mb-10" do %>
      <i class="fa-solid fa-plus"></i>
      <span class="font-bold">薬を追加する</span>
     <% end %>
    <%= link_to forgot_index_user_medicines_path, class: "block text-center text-gray-500 hover:underline hover:text-gray-700" do %>
      <span class="font-bold">飲み忘れに気づいたときはこちら</span>
    <% end %>
  </div>

<!-- モーダル枠 -->
<turbo-frame id="stock_modal">
  <% if params[:date].present? %>
    <%= render "stock_modal" %>
  <% end %>
</turbo-frame>
