<div class="min-h-screen flex items-center justify-center bg-base-100">
  <div class="card w-11/12 max-w-sm bg-base-200 shadow-lg rounded-xl p-6">
    <h2 class="text-center text-2xl font-bold text-primary mb-6">ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-control mb-4">
        <%= f.label :email, "メールアドレス", class: "label-text mb-1" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered bg-white" %>
      </div>

      <div class="form-control mb-4">
        <%= f.label :password, "パスワード", class: "label-text mb-1" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "input input-bordered bg-white" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <%= f.submit "ログイン", class: "btn btn-primary w-full" %>
    <% end %>
    <br>

    <p class="text-center text-sm mt-4 text-neutral">
      <%= link_to "新規登録", new_user_registration_path,
          class: "btn hover:bg-[#FFE4DF]" %>
    </p>

  </div>
</div>
