<div id="<%= dom_id user_medicine %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Medicine name:</strong>
    <%= user_medicine.medicine_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Dosage per time:</strong>
    <%= user_medicine.dosage_per_time %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Prescribed amount:</strong>
    <%= user_medicine.prescribed_amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Current stock:</strong>
    <%= user_medicine.current_stock %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Date of prescription:</strong>
    <%= user_medicine.date_of_prescription %>
  </div>
</div>
