<div class="container mx-auto px-4">
  <div class="medicines-section max-w-4xl mx-auto mb-8">
    <div class="w-full">
      <div class="bg-white rounded-lg shadow p-6">
        <!-- 削除アイコン -->
        <div class="flex justify-end">
        <%= link_to user_medicine_path(@user_medicine), data: { turbo_method: :delete, turbo_confirm: "薬を削除しますか?" },
                                                        class: "delete-icon",
                                                        title: "削除" do %>
            <i class="fa-solid fa-trash fa-lg"></i>
          <% end %>
        </div>
        <div class="mb-4">
          <label class="block text-sm font-bold mb-2">薬名</label>
          <div class="bg-gray-100 border border-gray-300 rounded px-3 py-2 text-gray-700">
            <%= @user_medicine.medicine.name %>
          </div>
        </div>

        <div class="mb-4">
          <label class="block text-sm font-bold mb-2">1回の服薬量</label>
          <div class="bg-gray-100 border border-gray-300 rounded px-3 py-2 text-gray-700">
            <%= @user_medicine.dosage_per_time %> 錠
          </div>
        </div>

        <div class="mb-4">
          <label class="block text-sm font-bold mb-2">1日の服薬回数</label>
          <div class="bg-gray-100 border border-gray-300 rounded px-3 py-2 text-gray-700">
            <%= @user_medicine.times_per_day %> 回
          </div>
        </div>

        <div class="mb-4">
          <label class="block text-sm font-bold mb-2">現在の在庫</label>
          <div class="bg-gray-100 border border-gray-300 rounded px-3 py-2 text-gray-700 ">
            <%= @user_medicine.current_stock %> 錠
          </div>
        </div>

        <div class="mb-4">
          <label class="block text-sm font-bold mb-2">前回の処方量</label>
          <div class="bg-gray-100 border border-gray-300 rounded px-3 py-2 text-gray-700 ">
            <%= @user_medicine.prescribed_amount %> 錠
          </div>
        </div>

        <div class="mb-4">
          <label class="block text-sm font-bold mb-2">前回の処方日</label>
          <div class="bg-gray-100 border border-gray-300 rounded px-3 py-2 text-gray-700 ">
            <%= @user_medicine.date_of_prescription %>
          </div>
        </div>

        <div class="space-y-4">
          <div class="flex gap-10">
            <%= button_to "在庫を追加",
                          add_stock_user_medicine_path(@user_medicine),
                          method: :get,
                          form: { class: "flex-1" },
                          class: "btn btn-primary w-full" %>
            <% if @user_medicine.has_stock? %>
              <%= button_to "飲み忘れ",
                            increment_stock_user_medicine_path(@user_medicine),
                            method: :patch,
                            data: {
                              turbo_confirm: "#{@user_medicine.medicine.name}は現在残り#{@user_medicine.current_stock}錠です。1回分増やしますか？",
                            },
                            form: { class: "flex-1" },
                            class: "btn btn-secondary w-full" %>
            <% end %>
          </div>
          <div class="mt-10 flex justify-end">
            <%= link_to "戻る", :back, class: "btn btn-neutral" %>
          </div>
          <div class="mt-10 flex justify-end">
            <%= link_to "薬一覧", user_medicines_path, class: "btn btn-neutral" %>
          </div>
        </div>
       </div>
      </div>
    </div>
  </div>
</div>