<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Okan" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module"%>
  </head>

  <body class="bg-base-100 min-h-screen font-mplus">
    <!-- ドロワー全体を囲む -->
    <div class="drawer">
      <!-- チェックボックス（非表示） -->
      <input id="drawer-menu" type="checkbox" class="drawer-toggle" />
      <!-- メインコンテンツエリア -->
      <div class="drawer-content">
        <!-- ヘッダーの出し分け -->
        <% if user_signed_in? %>
          <%= render 'shared/header' %>
        <% else %>
          <%= render 'shared/before_login_header' %>
        <% end %>
        <!-- フラッシュメッセージ -->
        <%= render 'shared/flash_message' %>
        <!-- 各ページの内容 -->
          <%= yield %>
        </main>
      </div>
      <!-- ドロワーメニューの出し分け -->
      <% if user_signed_in? %>
        <%= render 'shared/drawer_menu' %>
      <% else %>
        <%= render 'shared/before_login_drawer_menu' %>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <%= render 'shared/footer' %>
    <% end %>
</body>
</html>
